.wrapper {
    position: relative;
    margin-top: 20px;
    padding: 10px 0;
    background-color: white;
    overflow: hidden;
    border-radius: 18px;
}

.label {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 20px;
}

.list {
    list-style: none;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    animation-delay: 2s;
}

.item {
    margin-right: 10px;
}

.item:first-child {
    margin-left: 3px;
}

.left-btn {
    position: absolute;
    left: 10px;
    top: 120px;
}

.right-btn {
    position: absolute;
    right: 10px;
    top: 120px;
}

.list::-webkit-scrollbar {
    display: none;
  }

