.wrapper {
  font-size: 2rem;
  padding: 12px;
  border: none;
  min-width: 300px;
  color: white;
  background-color: rgb(255, 66, 78);
  border-radius: 10px;
  cursor: pointer;
}

.wrapper:hover {
  opacity: 0.8;
}
