.wrapper {
  font-size: 1.4rem;
  border: 1px solid var(--line-color);
  border-radius: 18px;
  padding: 10px 10px 20px 20px;
}

.location-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-label {
  font-size: 1.6rem;
}

.info {
  font-weight: 500;
  display: flex;
}

.name {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid var(--line-color);
}

.phone {
}

.address {
}
