.select {
  padding: 10px;
  outline: none;
  width: 100px;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  margin: 10px;
}

.large {
  width: 200px;
}

.select:focus {
  border-color: var(--primary-color);
}
