.wrapper {
  max-width: 880px;
  padding-left: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table thead {
  border-bottom: 2px solid var(--line-color);
}

.checkbox {
  height: 16px;
  width: 16px;
  margin-right: 20px;
}

.cart-table th {
  font-size: 1.4rem;
  padding: 20px 5px 20px 5px;
}

.cart-table .left {
  text-align: left;
}

.cart-table .right {
  text-align: right;
}

.header-icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
  outline: none;
  color: var(--grey-color);
}

.icon-label {
  color: white;
  background-color: rgb(56, 56, 61);
  padding: 5px;
  font-size: 1.4rem;
  border-radius: 8px;
}
