.form-content {
  padding: 40px;
  width: 500px;
}

.back-btn {
  height: 42px;
  width: 42px;
  border: none;
  background-color: white;
  font-size: 2.4rem;
  color: var(--grey-color);
  cursor: pointer;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-left: -10px;
}

.form-desc1 {
  font-size: 2.4rem;
}

.form-desc2 {
  font-size: 1.5rem;
}

.phone {
  font-weight: 500;
}

.form {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.code-input {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}

.code::placeholder {
  color: var(--input-placeholder);
}

.code {
  width: 40px;
  padding: 0 10px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-bottom: 0.5px solid rgb(221, 221, 227);
}

.code-submit {
  font-size: 2rem;
  padding: 12px;
  border: none;
  color: white;
  background-color: rgb(255, 66, 78);
  border-radius: 10px;
  cursor: pointer;
}

.code-submit:hover {
  opacity: 0.8;
}

.text {
  font-size: 1.4rem;
  padding-bottom: 8px;
  color: var(--grey-color);
}

.time {
  color: var(--primary-color);
  margin-left: 5px;
}
