.wrapper {
  margin-top: 10px;
  background-color: white;
}

.wrapper + .wrapper {
  border-top: 2px solid var(--line-color);
}

.header {
  font-size: 1.4rem;
  padding: 5px;
}

.list {
  list-style: none;
}

.item {
}

.item-link {
  text-decoration: none;
}
