.wrapper {
}

.cost {
  margin-top: 30px;
  font-size: 1.4rem;
}

.price,
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.total {
  padding-top: 10px;
  border-top: 1px solid var(--line-color);
}

.price-label {
}

.price-number {
}

.total-label {
}

.total-number {
  font-size: 2.2rem;
  color: var(--red-color);
}

.vat {
  font-size: 1.2rem;
  float: right;
}

.purchase {
  margin-top: 40px;
  width: 100%;
}
