.wrapper {
  background-color: white;
  border-radius: 18px;
  padding: 10px 20px;
  margin-top: 20px;
}

.label {
  font-size: 2rem;
  font-weight: 400;
}

.table {
  margin-top: 20px;
  font-size: 1.3rem;
  border-collapse: collapse;
  width: 100%;
}

.content {
}

.row {
  background-color: #fafafa;
}

.detail {
  background-color: #efefef;
  padding: 8px;
}

.info {
  padding: 8px;
}
