.background {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: inherit;
  z-index: 200;
  max-width: 1200px;
}

.logo {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}

.search {
  flex-grow: 1;
}

.nav {
  margin: 0 10px 0 40px;
}

.function {
  list-style: none;
  display: flex;
}

.func-item:last-child {
  border-radius: 10px;
  border-left: 0.5px solid var(--grey-color);
  margin-left: 8px;
}
