.background {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: inherit;
  max-width: 1200px;
}

.logo {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}

.search {
  flex-grow: 1;
}

.nav {
  margin: 0 10px 0 40px;
}

.function {
  list-style: none;
  display: flex;
}

.account {
  border-radius: 10px;
  border-left: 0.5px solid var(--grey-color);
  margin-left: 8px;
}

.account-menu {
  list-style: none;
  font-size: 1.4rem;
  background-color: white;
  border-radius: 18px;
  padding: 10px;
  min-width: 200px;
  box-shadow: 0 0 10px 1px var(--hover-color);
}

.account-menu li {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.account-menu li:hover {
  background-color: var(--hover-color);
}
