.wrapper {
  display: flex;
  background-color: white;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  border-radius: 18px;
  overflow: hidden;
}

.images {
}

.info {
  margin: 20px 10px;
}

.brand {
  font-size: 1.3rem;
  font-weight: 400;
}

.name {
  font-size: 2.4rem;
}

.more {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.rating {
}

.rating-start {
  color: rgb(253, 216, 54);
  font-size: 1.2rem;
}

.rating-start + .rating-start {
  margin-left: 4px;
}

.review {
  margin-left: 10px;
}

.sold {
  margin-left: 10px;
  padding-left: 10px;
  border-left: solid 2px var(--line-color);
}

.body {
  max-width: 500px;
  width: 500px;
  margin-top: 20px;
}

.price {
  font-size: 3.2rem;
  font-weight: 500;
  color: rgb(255, 66, 78);
}

.delivery-time {
}

.quantity {
  margin-top: 20px;
  font-size: 1.5rem;
}

.quantity-set {
  margin: 10px 0;
  display: flex;
  width: 100px;
  height: 30px;
}

.quantity-icon {
  height: 20px;
  width: 20px;
  color: var(--grey-color);
  border: 1px solid var(--line-color);
  padding: 5px;
  cursor: pointer;
}

.quantity-icon:active {
  background-color: var(--line-color);
}

.quantity-label {
  flex-grow: 1;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.button {
  width: 100%;
  margin-top: 20px;
}
