.form-content {
  padding: 40px;
  width: 500px;
}

.greeting {
  font-size: 2.4rem;
}

.label {
  font-size: 1.5rem;
}

.form {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.phone-input {
  font-size: 2.4rem;
  border: none;
  outline: none;
  border-bottom: 0.5px solid rgb(221, 221, 227);
  margin-bottom: 30px;
}

.phone-input::placeholder {
  color: var(--input-placeholder);
}

.phone-submit {
  font-size: 2rem;
  padding: 12px;
  border: none;
  color: white;
  background-color: rgb(255, 66, 78);
  border-radius: 10px;
  cursor: pointer;
}

.phone-submit:hover {
  opacity: 0.8;
}

.other-method {
}

.other-label {
  font-size: 1.5rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.other-label p {
  margin: 0 10px;
}

.line {
  content: "";
  height: 1px;
  width: 100%;
  flex-grow: 1;
  background-color: rgb(221, 221, 227);
}

.method {
  list-style: none;
  display: flex;
  justify-content: center;
}

.method-icon {
  font-size: 3rem;
  padding: 10px 10px 0px 10px;
  cursor: pointer;
}

.method-icon:hover {
  opacity: 0.6;
}
