.wrapper {
  padding: 5px 10px;
  width: 230px;
  background-color: white;
  position: fixed;
  left: -230px;
  box-shadow: 0 0 10px 1px var(--hover-color);
  border-radius: 18px;
  transition: transform 0.2s ease-in;
}

.show {
  transform: translateX(230px);
}
