.wrapper {
  margin: auto;
  width: 100%;
  background-color: white;
  max-width: 1200px;
  border-radius: 18px;
  height: fit-content;
}

.section {
  margin: 10px 0;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 18px;
}

.footer {
  padding: 20px 0;
  font-size: 1.2rem;
  margin: 0px 10px;
  border-top: 0.5px solid var(--grey-color);
}
