.wrapper {
  /* position: relative; */
}

.menu-btn {
  position: fixed;
  top: 110px;
  left: 10px;
  z-index: 1;
}

.content {
  margin: 120px 32px 0;
}

.mess-btn {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

.auth {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
}

.form {
  margin: 200px auto;
}

.delivery {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
}
