.wrapper {
  font-size: 1.3rem;
}

.wrapper td {
  padding: 5px;
}

.wrapper .right {
  text-align: right;
}

.product-td {
  display: flex;
  align-items: center;
}

.checkbox {
  height: 16px;
  width: 16px;
  margin-right: 20px;
}

.product {
  display: flex;
  align-items: center;
  max-width: 320px;
  width: 320px;
  flex-grow: 1;
}

.product-img {
  width: 80px;
}

.product-name {
  margin-left: 10px;
}

.quantity-td {
  text-align: center;
}

.quantity {
  display: inline-flex;
  align-items: center;
}

.quantity-icon {
  border: 1px solid var(--line-color);
  padding: 8px;
  cursor: pointer;
}

.quantity-label {
  padding: 10px;
  font-size: 1.4rem;
}

.money {
  color: var(--red-color);
}

.icon {
  height: 18px;
  width: 18px;
  color: var(--grey-color);
  cursor: pointer;
  padding-left: 5px;
}
