.wrapper {
    background-color: white;
    border-radius: 18px;
    padding: 10px 20px;
    margin: 20px auto 0;
    max-width: 1200px;
}

.label {
    font-size: 2rem;
    font-weight: 400;
}

.header {
    display: flex;
}

.rating {
    width: 335px;
}

.star-counter {
    display: flex;
    margin: 20px 30px;
}

.star-number {
    font-size: 3.2rem;
}

.star-img {
    margin-left: 20px;
}

.comment-counter {
    font-size: 1.3rem;
}

.filter-section {

}

.all-img {
    margin: 10px 50px;
}

.img-label {
    font-size: 1.8rem;
    font-weight: 500;
}

.img-list {
    margin: 20px 0;
    list-style: none;
    display: flex;
}

.img-item {
    height: 88px; 
    width: 88px; 
    cursor: pointer;
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.filter {
    margin: 0 50px;
    display: flex;
    align-items: center;
}

.filter-label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 30px;
}
